.form-control {
    border: none;
    border-bottom: 1px solid lightgray;
}

.Chat {
    /* border: 2px solid black; */
    height: 500px;
    width: 300px;
}

.Col {
    height: 600px;
}

.part {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.middle_part {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    padding-left: 20%;
}

.left_part {
    display: flex;
    flex-direction: column;
    border-right: solid black;
    margin-left: 10%;
    padding-right: 10%;
}

.me,
.other {
    width: 120px;
    border-radius: 10px;

    padding-left: 2%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font: "Andale Mono";
    font-weight: 500;
}

.me {
    background-color: whitesmoke;
    /* float: left; */
}

.other {
    color: whitesmoke;
    background-color: lightskyblue;
    margin-left: 80%;
    /* float: right; */
}

.contain {
    /* border: solid black;
    background-color: blue; */
    margin-bottom: 10px;
}